<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MFF Parser</title>
    <link rel="stylesheet" type="text/css" href="../static_imagecoordinates/css/main_style.1.05.css">
</head>
<body>

<h1> Image Coordinates Demo</h1>

<p><input type="file" id="images" name="file" multiple/></p>
<span>
    <input type="button" id="submit_multi" value="Submit Images"/>
</span>

<br><br>

<br><br>


<div id="result_div" class="clearfix">
    <div style='clear:both'></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"
        charset="utf-8"></script>

<!--<script src="../static_jsimagecompress/js/jsimagecompress.1.05-min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="../static_imagecoordinates/js/demo.1.05.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>